@import "../common_styles/variables";
@import "../common_styles/font";
@import "../common_styles/mixins";


.blogsContainer {
  background-color: $black;
  width: 100%;
  height: fit-content;
  padding: 0 2rem 2rem;
  position: relative;

  .imageBox {
    width: 100%;
    height: 40vh;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      opacity: 0.4;
    }
  }


  .blogcontent {
    @include absolute(50%, 50%);

    h3 {
      @include Hstyle ($white, 1.6rem);
      @include ziro_space;
    }

    .breaadcrumb {
      text-align: center;

      nav {
        display: inline-block;

        li {
          color: darkgray;

          a {
            @include AtagStyle($black);
          }
        }
      }
    }
  }
}

.blog {
  background-color: $black;
  padding: 2rem;
  margin: 0;
  text-align: center;

  img {
    width: 75%;
    object-fit: cover;
    margin-bottom: 1.5rem;
  }

  .blogText {
    width: 75%;
    margin: 0 auto;
    color: $white;
    @include flex(flex-start, stretch);

    .blogiddate {
      height: 100%;

      @include flex(space-between, center) {
        flex-direction: column;
      }

      h2 {
        @include Hstyle($gold, 3.5rem);
      }

      p {
        opacity: 0.5;
        color: $white;
        font-size: 14px;
        @include ziro_space;
      }
    }

    .blogDetail {
      text-align: left;
      margin-left: 1.5rem;
      height: 100%;

      .tags {
        color: $white;
        opacity: 0.5;
        font-size: 11px;
        @include ziro_space;
      }

      .blogDescription {
        opacity: 0.5;
      }

      button {
        @include buttons($white , $gold) {
          padding: 0.2rem 0.6rem;
          border: none;
          border-radius: 5px;
          transition: all 0.3s ease;
        }

        &:hover {
          @include buttons($black , $white);
        }
      }
    }


  }
}

.loadmoreBTN {
  background-color: $black;
  text-align: center;
  padding: 1.5rem 0;

  button {
    @include buttons($black, $white) {
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
    }

    margin-bottom: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      @include buttons( $gold,$black);
    }
  }
}

// media query 
@media (max-width:576px) {
  .blogText {
    @include flex(center, baseline) {
      flex-direction: column;
    }

    ;

    .blogiddate {
      display: flex;
      flex-direction: column;
      align-items: baseline !important;
    }

    .blogDetail {
      margin: 1.5rem 0 !important;
    }
  }
}