@import "../common_styles/variables";
@import "../common_styles/font";
@import "../common_styles/mixins";


.creativeContainer {
  background-color: $black;
  height: fit-content;
  color: $white ;

  @include flex (center, center) {
    flex-direction: column;
  }

  ;

  .left {
    // border: 1px solid $white;
    padding: 1rem;
    height: 100%;

    p {
      margin: 1.1rem 0;
      opacity: 30%;
    }

    button {
      width: 100%;
      color: $white  !important;

      a {
        color: $white;
        text-decoration: none;
      }

      @include buttons($black, $gold) {
        padding: 0.5rem 1rem;
border: none;
        border-radius: 5px;
        transition: color 0.4s ease;
        position: relative;
      }

      ;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: all 0.5s ease;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        transition: width 0.5s ease;
      }

      &:hover {
        color: $black  !important;

        &::before,
        &::after {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          border-left: 1px solid $ultra_lightgray;
          border-bottom: 1px solid $ultra_lightgray;
          border-top: 1px solid $ultra_lightgray;
          border-right: 1px solid $ultra_lightgray;
        }
      }
    }
  }

  .right {
    padding: 1rem;
    height: 100%;
    width: 100%;
    // background-color: red;
    @include flex(center, center);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 80%;
      top: 0;
      left: 0;
      transform: translate(5%, 0%);
      background: url("../../images/dots.jpg") repeat center;
      opacity: 3%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 80%;
      top: 0;
      left: 0;
      transform: translate(5%, 0%);
      border: 5px solid $gold;
    }

    .rightContent {
      width: 80%;
      height: 15rem;
      background-color: $darkgray;
      z-index: 5 !important;
      padding: 0.8rem;
      text-align: center;
      position: relative;

      @include flex(center, center) {
        flex-direction: column;
      }

      span {
        margin-right: 0.5rem;
      }

      p {
        opacity: 70%;
        font-size: 15px;
      }
    }
  }
}