@import "../common_styles/variables";
@import "../common_styles/font";
@import "../common_styles/mixins";


.pStyle {
  font-size: 2.2rem;
  font-weight: 100;
  text-align: center;
  margin: 1rem 0;

  &::first-letter {
    font-weight: 400;
    color: $light_gold;
  }
}

.renderGridBox {
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  img {
    width: 250px;
    height: 170px;
  }
}