@import "../common_styles/variables";
@import "../common_styles/font";
@import "../common_styles/mixins";

.linkStyle {
  font-size: 2.2rem;
  font-weight: 100;
  text-align: center;
  // margin: 1rem 0;
  text-decoration: none;
  color: darkgray;

  &::first-letter {
    font-weight: 400;
    color: $light_gold;
  }

  &:hover {
    color: darkgray;
  }
}
