@import "../common_styles/variables";

.serviceContainer {
  background-color: $black;
  padding:  2rem 2rem 0;
  height: fit-content;

  .services {
    background:linear-gradient(to top ,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../images/sofa.jpg")no-repeat;
    background-size: cover;
    background-position: center;
  }
}