@import "../common_styles/variables";
@import "../common_styles/font";
@import "../common_styles/mixins";


.serviceCard{
  border: 1px solid lightgray;
  h3{
    color: $light_gold;
    font-family: $MouseMemoirs;
  }
}