@font-face{
  src: url("../../fonts/Asterika.otf");
  font-family: "Asterika";
}
@font-face{
  src: url("../../fonts/Misegar-Regular.otf");
  font-family: "Misegar-Regular";
}


$Asterika:"Asterika";
$Misegar-Regular:"Misegar-Regular";