@font-face{
  src: url("../../fonts/Asterika.otf");
  font-family: "Asterika";
}
@font-face{
  src: url("../../fonts/Misegar-Regular.otf");
  font-family: "Misegar-Regular";
}
@font-face{
  src: url("../../fonts/MouseMemoirs-Regular.ttf");
  font-family: "MouseMemoirs";
}


$Asterika:"Asterika";
$Misegar-Regular:"Misegar-Regular";
$MouseMemoirs:"MouseMemoirs";