@mixin buttons($color, $background) {
  background-color: $background;
  color: $color;
  @content;
}

@mixin ziro_space {
  margin: 0;
  padding: 0;
}


@mixin flex ($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  @content;
}